<h1>Results Page</h1>
<ul>
<%if(data["Search"]==undefined) {%>	
<a href="/">Couldnt find Go back</a>
<%} else{%>
<% data["Search"].forEach(function(movie){ %>
<% var type= movie["Type"] %>
<%if(type == "movie"){%>
<li>
		
   <a href='/app/<%= movie["imdbID"]%>'><img src='<%=movie["Poster"]%>'><br><strong><%= movie["Title"]%></strong> - <%=movie["Year"]%></a>
	
    </li>
<% }}); } %>

</ul>
<a href='/results/1/<%=search%>'>1</a>
<a href='/results/2/<%=search%>'>2</a>
<a href='/results/3/<%=search%>'>3</a>
<a href='/results/4/<%=search%>'>4</a>
<a href='/results/5/<%=search%>'>5</a>
<a href='/results/6/<%=search%>'>6</a>
<a href='/results/7/<%=search%>'>7</a>
<a href='/results/8/<%=search%>'>8</a>
<%= ids[1] %>
<a href="/">Search Again</a>